body {
    background:  #111111;
    color:       #EEEEEE;
    font-family: "Verdana";
    font-size:   20px;
    margin-top:  20px;
}

.container {
    margin: auto;
    width: 25%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_box {
    padding: 0 0 0 0;
}

.image_box p {
    text-align: center;
    background: #565656;
    margin: 0 0 0 0;
    width: 100%;
}

.image_box img {
    width: 100%;
    margin: 0 0 0 0;
}
