<div class="content">
  <h1>Don Tetronoli's Tetris</h1>
  <p>
    A tetris clone made by
    <a href="https://nl.linkedin.com/in/dennis-heutinck-393434169">
      Dennis Heutinck</a>
    and me for a game programming course at Utrecht University in 2016.
    If I remember correctly, the assignment was literally just to create a
    Tetris clone in C# using the MonoGame framework.
    We ended up having a bit more fun with it by giving it a theme of smuggling
    crates for a criminal mastermind named Don Tetronoli.
    The game starts with an introduction where Don Tetronoli "persuades" the
    player to help him smuggle his questionable goods.
    The tetrominoes seen in the game are crates and other smuggled goods which,
    when stacked up like in regular Tetris, award you money (score).
  </p>
  <p>
    Dennis made all the artwork and music.
    He probably deserves most of the credit for this game because without the
    theme it'd just be a random Tetris game.
    I spent way too much time on adding a branching dialogue system for the
    introduction.
  </p>
  <app-link-button href="/assets/downloads/TetronoliTetris.zip">
    Download for Windows</app-link-button>
</div>
