<div class="content">
  <h1>A Dream within a Dream</h1>
  <p>
    A game that Yogbert and I made for a high school assignment in 2015.
    It's a simple little platformer game where you shoot enemies and avoid obstacles.
    We originally planned to implement multiple weapons, bosses and cutscenes, but we
    didn't get around to doing any of those.
    However, we managed to implement pretty much everything else we had written in the
    design document at the time.
    This must have been quite a feat as I remember very clearly that we struggled a lot
    with the limitations of Tululoo, which is what we used to make the game - however, I
    can't say for sure whether it was really Tululoo's fault or our own inexperience.
    However, the issues still show in the final version: Jacob's arm lags behind his
    body, the HUD lags behind the viewport, and ground detection after falling is rather
    finnicky, making the platforming harder than it has to be.
    All of the visual art was made by Yogbert.
  </p>
  <p>
    We had a story of sorts written for the game, though you won't actually experience
    it through playing the game due to the aforementioned lack of cutscenes.
    The following is the story as written in the design document (roughly translated
    from Dutch):
  </p>
  <p>
    Our protagonist, Jacob, wakes up in a dreamy landscape.
    He has no idea where he is.
    After playing through some levels, he encounters Sigmund Freud's flying head.
    It turns out that everything was just a dream.
    Jacob is actually older but takes on a younger appearance in his dream.
    It seems that Jacob is Sigmund's son, but he's actually his father in a younger
    form.
    Because he was rather dismissive of Sigmund during the latter's youth, they engage
    in a fight.
    When Sigmund is defeated, Jacob wakes up on a fainting couch, with Sigmund next to
    him, who bursts out in tears.
  </p>
  <p>
    Apparently each world was supposed to have its own boss, them being Es, Über-ich and
    Ich (Sigmund).
  </p>
  <p>
    Yes, I don't understand it either.
  </p>
  <p>
    You can play the game in your browser here.
    Unfortunately I had to remove the music, since it's copyrighted.
    This is the only change from the original however.
    Other than that, you're getting the true, buggy, original experience.
  </p>
  <app-link-button href="assets/games/a-dream-within-a-dream/index.html">
    Play in browser</app-link-button>
</div>