<div class="content">
  <h1>Hotel Pluhz</h1>
  <p>
    A game commissioned by the Dutch company
    <a href="http://gezondaanzee.nl/pluhz/">Pluhz</a>.
    Made by WolfPatch, a group of twelve people including myself who worked on this game
    for the final project of the Computer Science bachelor at Utrecht University in
    2019.
    It's a 2D hotel building game where you unlock and build rooms, help guests and earn
    money.
    The main focus of the game is the real-life challenges the player can complete to
    earn a special type of currency with which more things can be unlocked.
    The challenges' purpose is to encourage the player to live a healthier lifestyle.
  </p>
  <p>
    The university provided us our own offices on the campus where we worked on the
    game, and discussed important things such as where to put the opening curly brace of
    a code block.
    These offices were also the birthplace of a vast collection of in-jokes, a lot of
    which related to tea.
    Overall there was always a very good atmosphere within our rather large group.
    We also had our own mascot, Patchy (pictured).
  </p>
  <img src="/assets/images/patchy.jpg"/>
  <p>
    While we haven't made any games as WolfPatch since Hotel Pluhz, some of us are still
    talking regularly and keeping the WolfPatch spirit alive.
  </p>
  <p>
    The game exists only in Dutch.
  </p>
  <app-link-button href="https://play.google.com/store/apps/details?id=com.pluhz.hotel_pluhz">
    Download from Google Play
  </app-link-button>
</div>
