<div class="content">
  <h1>Rolling Game</h1>
  <p>
    A very simple game where you roll a ball and collect coins.
    It's pretty much the game made by
    <a href="https://www.youtube.com/channel/UCdioEctcBLd2nw2aQkl8msw">
      BornCG</a>
    in their Godot 3D game tutorial.
    I mostly just followed their tutorial to become acquainted with the Godot
    engine,
    but I ended up having some fun adding my own stuff to it and improving some
    of the systems.
  </p>
  <p>
    Also, there's a typo in the title screen. Whoops.
  </p>
  <app-link-button href="/assets/games/rolling-game/rolling.html">
    Play in browser</app-link-button>
  <app-link-button href="/assets/downloads/rolling.zip">
    Download for Windows</app-link-button>
</div>