<div class="content">
  <h1>A Dream within a Dream Remastered</h1>
  <p>
    A remake of one of the first games I worked on, together with Yogbert back
    in 2015.
    It's being made with the Godot engine.
    After remaking the original enemies, levels etc. I hope to include the
    features that we planned on implementing in the original game but didn't get
    around to.
    It's not finished yet, but all the levels from the original have been
    recreated and are playable.
    You can also find the original
    <a routerLink="/games/a-dream-within-a-dream">here</a>.
  </p>
  <app-link-button href="/assets/games/a-dream-within-a-dream-remastered/dream-within-a-dream-remastered.html">
    Play in browser</app-link-button>
</div>
